/**
* @name CoolMembers
* @author Lunah
* @authorId 603635602809946113
* @version 1.0
* @invite uyKu23Cgpe
* @description Adds a collapsible member list with fade-in animations. (RadialStatus recommended)
*/
.members-1998pB {
    background-color: var(--background-secondary);
}
.da-uploadModal .da-label {
 padding: 5px;
}
.wrapper-3t9DeA[aria-label$="mobile"] {
margin-bottom: 6px;
}
.content-3YMskv {	
    height: 0 !important;
}
.addMembersButton-1eG9YC {
    display: none;
}
.membersWrap-2h-GB4 { 
    min-width: 60px;
    margin-right: 0px;
}
.members-1998pB:hover {       
    width: 240px !important;
    transition: 300ms ease-in-out;
}
/* if you are using slate uncomment this */
/*
.members-1998pB:not(:hover) {  
    width: 46px !important;
    transition: 300ms ease-in-out;
}
/* otherwise uncomment this */
.members-1998pB:not(:hover) {  
    width: 60px !important;
    transition: 300ms ease-in-out;
}
.members-1998pB .membersGroup-v9BXpm {
  display: none;
}
.member-3-YXUe {
 height: 46px;
}
.members-1998pB:not(:hover) .membersGroup-v9BXpm:after {
  font-size: 12px;
  transform: translateX(5px);
  content: '';
}
.members-1998pB .membersGroup-v9BXpm:after {
  font-size: 12px;
  content: '';
}
.members-1998pB .membersGroup-v9BXpm:first-of-type {
  display: none;
}
.members-1998pB:not(:hover) .content-3QAtGj {
    opacity: 0;
    transition: 200ms ease-in-out;
}
.members-1998pB:hover .content-3QAtGj {
    opacity: 1;
    transition: 1s ease-in-out;
}
.layout-2DM8Md {
    margin-right: 0px;
    margin-left: 5px;
    border-radius: 0 4px 4px 0;
}
.layout-2DM8Md .avatar-3uk_u9, .layout-2DM8Md .content-3QAtGj {
    margin-left: -5px;
}
.members-1998pB [class*="empty"], .members-1998pB h3 {
    opacity: 0;
}
