.members-3WRCEx {
    transition: 300ms ease;
}

.membersWrap-3NUR2t {
    min-width: 64px;
    transition: 300ms ease;
}

.membersWrap-3NUR2t:hover, .membersWrap-3NUR2t:hover .members-3WRCEx {
    width: 240px;
}

.membersWrap-3NUR2t:not(:hover), .membersWrap-3NUR2t:not(:hover) .members-3WRCEx {
    width: 64px;
}

.membersGroup-2eiWxl {
    direction: rtl;
    text-overflow: ellipsis;
    font-size: 8px;
}
